
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
        @Html.ActionLink("English", "Change", "Locale", new  { id = "en"}, null)|
        @Html.ActionLink("Korean", "Change", "Locale", new  { id = "ko"}, null)|
        @Html.ActionLink("Germany", "Change", "Locale", new  { id = "de"}, null)|
        @Html.ActionLink("France", "Change", "Locale", new  { id = "fr"}, null)|
        @Html.ActionLink("Japan", "Change", "Locale", new  { id = "ja"}, null) |
        @Html.ActionLink("Nigeria", "Change", "Locale", new  { id = "kr"}, null) |
        @Html.ActionLink("Turkey", "Change", "Locale", new  { id = "tr"}, null)

    <br /><br />

    <table cellpadding="2" cellspacing="2">
        <tr>
            <td>Number Format</td>
            <td>@ViewBag.NumberFormat</td>
        </tr> 
        <tr>
            <td>Percent Format</td>
            <td>@ViewBag.PercentFormat</td>
        </tr>
        <tr>
            <td>Currency Format</td>
            <td>@ViewBag.CurrencyFormat</td>
        </tr>
        <tr>
            <td>Date Time Format</td>
            <td>@ViewBag.DateTimeFormat</td>
        </tr>
        <tr>
            <td>Content Format</td>
            <td>@ViewBag.ContentFormat</td>
        </tr>
        <tr>
            <td>Quote Format</td>
            <td>@ViewBag.Quote_data</td>
        </tr>
    </table>
      
    
</body>
</html>
